
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  height: 100vh;
  text-align: center;
}
button {
  border-radius: 3px;
  border: 1px solid #acacac;
  background: white !important;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  outline: none;
}

button:focus,
button:focus-visible {
  outline: 1px solid transparent !important;
}

button:hover {
  border-color: #c1c1c1;
}

li {
  list-style: none;
  min-width: 100%;
  margin-left: -2.5rem;
  text-align: left;
  background-color: #f3f2f2;
  margin-bottom: 0.5rem;
  padding: .5rem;
  cursor: pointer;
}

li:hover {
  background-color: #494949;
  color: #ffffff;
}

input {
  outline: none;
  border: 2px solid #c1c1c1;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

